html, body
    box-sizing: border-box
    margin: 0
    padding: 0

header
    nav
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
        .logo
            width: 15%
            padding: 20px
        .barraArticulos
            list-style: none
            display: flex
            background-color: #58ffeb
            justify-content: space-between
            padding: 20px 0 20px 0
            height: 50px
            align-items: center
            margin: -20px 0 0 0
            font-size: 30px
            .articulos
                padding: 0 10px 0 10px
                border-right: 2px solid black
            .ultimoArticulo
                border-right: 0px
                padding: 0 10px 0 10px
        .buscador
            display: flex
            padding: 0 40px 0 0
            align-items: center
            justify-content: space-between
            .lupa
                width: 35%

.barra
    width: 100%
    height: 40px
    background-color: #58ffeb
    margin: 40px 0 20px 0
